<div class="signup-form">
  <form action="/examples/actions/confirmation.php" method="post">
  <h2>Register</h2>
  <p class="hint-text">Create your account. It's free and only takes a minute.</p>
      <div class="form-group">
    
     <input type="text" class="form-control"  [(ngModel)]="registerdata.name" name="firstname" placeholder="First Name" required="required"> <br>
    <input type="text" class="form-control"  [(ngModel)]="registerdata.lname" name="lastname" placeholder="Last Name" required="required">
          	
      </div>
      <div class="form-group">
        <input type="email" class="form-control"  [(ngModel)]="registerdata.email" name="email" placeholder="Email" required="required">
      </div>
  <div class="form-group">
          <input type="password" class="form-control"  [(ngModel)]="registerdata.password" name="password" placeholder="Password" required="required">
      </div>
  <div class="form-group">
          <input type="password" class="form-control" [(ngModel)]="registerdata.cpassword"  name="confirm_password" placeholder="Confirm Password" required="required">
      </div>        
      <div class="form-group">
    <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
  </div>
  <div class="form-group">
          <button  class="btn btn-success btn-lg btn-block"  (click)="registerUser()" type="submit" >Register Now</button>
      </div>
<div class="text-center">Already have an account? <a routerLink="/login">Sign in</a></div>

  </form>
</div>
                          
