
<!-- <div *ngFor="let s of products ; index as i">
   {{i}} {{s.sweets}}- {{s.cost}}

</div> -->

<div *ngFor="let i of parentData">{{i.sweets}}-{{i.cost}}</div>

<button (click)="rateClick() ">RateMe...!!!</button>
<div *ngIf="show"> Noting is here</div>


 

