<h1 appSweetgalleryDirective>Welcome to Rajahmundry Sweet Gallery</h1>


<button (click)='hideSweets()'>Click to check the sweets</button>
<div class='showSweets' *ngIf='showSweets' >
  <ul>
    <li *ngFor="let i of sweets">
        {{i.name}}
        {{i.cost}}
        {{i.img}}
    </li>
  </ul>
   </div>