

<app-checkout (rating)="rate($event)" [parentData]="products" ></app-checkout>

<p *ngFor="let s of item">
    {{s.sweet}}-{{s.rating}}
</p>

<div></div>
































<!-- <div *ngFor="let s of products ; index as i">
   {{i}} {{s.sweets}}- {{s.cost}}

</div> -->

<!-- <div *ngif= 'products.length > 0 ; then kova' >
<ng-template #kova>kova</ng-template> 
</div> -->