<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a appCustom class="navbar-brand" routerLink="home">RAJAHMUNDRYeats</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
<div class="container">
        <div class="row row1">
          

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
                </li> -->
<!--                 
                <div class="filter-search" *ngIf="search">
                    <div *ngFor="let sweet of sweets | filter:search" class="filter-borders ">
                        <span routerLink="/{{sweet}}"><i class="fa fa-search"></i>&nbsp;&nbsp;{{sweet}}</span>
                    </div>
                </div> -->
                    <li class="nav-item active" ><a class="nav-link" routerLink="sweetGallery">Sweets Gallery</a></li>
            </ul>
          </div>
        </div>

      <div class="row row2">

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
                <ul class="navbar-nav mr-auto">
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" *ngIf='!_authService.logedIn()' href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Login & signup </a> 
                      
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"  routerLink="login">Login</a>
                                <a class="dropdown-item"  routerLink="register">Register</a>
                                <li class="upper-links" *ngIf="_authService.logedIn() && role=='admin'"><a class="links" routerLink=''>Admin</a></li> 
                                
                              </div>
                               
                      </li>

                      <li class="nav-item active" *ngIf='_authService.logedIn()'>
                          <a class="nav-link" (click)='_authService.logedout()' routerLink="active">Log Out</a>
                      </li>
                  </ul>
          </div>
      </div>
    
  
          
            <!--end shopping-cart-header -->
        
        
            
        
           
         
          

</div>
</nav> 

