
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="modal-header">				
				<h4 class="modal-title">Login Here!</h4>
				
			</div>
			<div class="modal-body">
				<form action="/examples/actions/confirmation.php" method="post">
					<div class="form-group">
						<i class="fa fa-user"></i>
						<input type="text" [(ngModel)]="login.email" class="form-control" placeholder="email" required="required" name="email">
					</div>
					<div class="form-group">
						<i class="fa fa-lock"></i>
						<input type="password" [(ngModel)]="login.password" class="form-control" placeholder="Password" name="password" required="required">					
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary btn-block btn-lg" (click)="loginData()" value="Login">
					</div>
				</form>				
				
			
			<div class="modal-footer">
				<a href="#">Forgot Password?</a>
	  </div>
	</div>
	<br>
<div class="text-center">Don't have account? <a href="/register">register here</a> </div>

    </div>
    
    
  </div>
  
